# 2d tests:
test-fill
test-fill2
test-copy
test-composite
test-composite2
test-multi
test-fb

# 3d tests:
test-triangle-quad
test-triangle-smoothed
test-strip-smoothed
test-quad-flat
test-quad-flat2
test-cube
test-enable-disable
test-compiler

# misc:
redump
cffdump
*.so
*.o
*.swp
*.bmp
*.log
*.dat
*.rd
*.html
*-cffdump.txt
