# 2d tests:
test-fill
test-fill2
test-replay
test-copy
test-composite
test-composite2
test-multi
test-fb

# 3d tests:
test-caps
test-triangle-quad
test-triangle-smoothed
test-strip-smoothed
test-quad-flat
test-quad-flat2
test-quad-textured
test-cat
test-cube
test-cube-textured
test-tex
test-vertex
test-enable-disable
test-compiler
test-stencil
test-es2gears

# misc:
redump
cffdump
pgmdump
*.so
*.o
*.vo*
*.fo*
*.swp
*.bmp
*.log
*.dat
*.rd
*.rd.txt
*dump.txt
*.html
