# 2d tests:
test-fill
test-fill2
test-replay
test-copy
test-composite
test-composite2
test-multi
test-fb

# 3d tests:
test-varyings
test-quad-attributeless
test-float-int
test-occquery
test-draw
test-clear
test-caps
test-triangle-quad
test-triangle-smoothed
test-strip-smoothed
test-quad-flat
test-quad-flat2
test-quad-textured
test-quad-textured-3d
test-quad-flat-fbo
test-cat
test-cube
test-cube-textured
test-tex
test-vertex
test-enable-disable
test-compiler
test-stencil
test-mipmap
test-cubemap
test-es2gears
test-piglit-bad
test-piglit-good
test-instanced
test-tf

# cl tests:
test-image
test-simple

# misc:
redump
zdump
cffdump
pgmdump
*.so
*.o
*.vo*
*.fo*
*.swp
*.bmp
*.log
*.dat
*.rd
*.rd.txt
*dump.txt
*.html
*.co3.txt
