.deps
.libs
Makefile
*.la
*.lo
*.o
*.vo
*.fo
*~
aclocal.m4
autom4te.cache
compile
config.h
config.h.in
config.log
config.status
depcomp
stamp-h1
Makefile.in
configure
libtool
ltmain.sh
config.guess
config.sub
install-sh
missing
ylwrap
